TLGX_CONSUMER_SERVICE/DataLayer/Service References/DHSVC/DataHandlerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DataHandlerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:64450/DataHandlerService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:64450/DataHandlerService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:64450/DataHandlerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TLGX_DataHandler_WcfService.DataContracts" />
      <xsd:import schemaLocation="http://localhost:64450/DataHandlerService.svc?xsd=xsd3" />
      <xsd:import schemaLocation="http://localhost:64450/DataHandlerService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Net" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDataHandlerService_StaticFileUploadProcessFile_InputMessage">
    <wsdl:part name="parameters" element="tns:StaticFileUploadProcessFile" />
  </wsdl:message>
  <wsdl:message name="IDataHandlerService_StaticFileUploadProcessFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:StaticFileUploadProcessFileResponse" />
  </wsdl:message>
  <wsdl:message name="IDataHandlerService_StaticFileUpload_TestFile_Read_InputMessage">
    <wsdl:part name="parameters" element="tns:StaticFileUpload_TestFile_Read" />
  </wsdl:message>
  <wsdl:message name="IDataHandlerService_StaticFileUpload_TestFile_Read_OutputMessage">
    <wsdl:part name="parameters" element="tns:StaticFileUpload_TestFile_ReadResponse" />
  </wsdl:message>
  <wsdl:message name="IDataHandlerService_StaticFileUpload_TestFile_Transform_InputMessage">
    <wsdl:part name="parameters" element="tns:StaticFileUpload_TestFile_Transform" />
  </wsdl:message>
  <wsdl:message name="IDataHandlerService_StaticFileUpload_TestFile_Transform_OutputMessage">
    <wsdl:part name="parameters" element="tns:StaticFileUpload_TestFile_TransformResponse" />
  </wsdl:message>
  <wsdl:portType name="IDataHandlerService">
    <wsdl:operation name="StaticFileUploadProcessFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataHandlerService/StaticFileUploadProcessFile" message="tns:IDataHandlerService_StaticFileUploadProcessFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataHandlerService/StaticFileUploadProcessFileResponse" message="tns:IDataHandlerService_StaticFileUploadProcessFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StaticFileUpload_TestFile_Read">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataHandlerService/StaticFileUpload_TestFile_Read" message="tns:IDataHandlerService_StaticFileUpload_TestFile_Read_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataHandlerService/StaticFileUpload_TestFile_ReadResponse" message="tns:IDataHandlerService_StaticFileUpload_TestFile_Read_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StaticFileUpload_TestFile_Transform">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataHandlerService/StaticFileUpload_TestFile_Transform" message="tns:IDataHandlerService_StaticFileUpload_TestFile_Transform_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataHandlerService/StaticFileUpload_TestFile_TransformResponse" message="tns:IDataHandlerService_StaticFileUpload_TestFile_Transform_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="DataHandlerService" />
</wsdl:definitions>