TLGX_CONSUMER_SERVICE/DataLayer/Service References/DHSVC/DataHandlerService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TLGX_DataHandler_WcfService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TLGX_DataHandler_WcfService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DC_FileData">
    <xs:sequence>
      <xs:element minOccurs="0" name="BufferData" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FilePostition" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DC_FileData" nillable="true" type="tns:DC_FileData" />
  <xs:complexType name="DC_UploadResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="UploadSucceeded" type="xs:boolean" />
      <xs:element minOccurs="0" name="UploadedPath" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DC_UploadResponse" nillable="true" type="tns:DC_UploadResponse" />
</xs:schema>