TLGX_CONSUMER_SERVICE/DataLayer/Service References/DHSVC/DataHandlerService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64450/DataHandlerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TLGX_DataHandler_WcfService.DataContracts" />
  <xs:element name="StaticFileUploadProcessFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TLGX_DataHandler_WcfService.DataContracts" minOccurs="0" name="obj" nillable="true" type="q1:DC_SupplierImportFileDetails_TestProcess" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StaticFileUploadProcessFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TLGX_DataHandler_WcfService.DataContracts" minOccurs="0" name="StaticFileUploadProcessFileResult" nillable="true" type="q2:DC_Status" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StaticFileUpload_TestFile_Read">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TLGX_DataHandler_WcfService.DataContracts" minOccurs="0" name="obj" nillable="true" type="q3:DC_SupplierImportFileDetails_TestProcess" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StaticFileUpload_TestFile_ReadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StaticFileUpload_TestFile_ReadResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StaticFileUpload_TestFile_Transform">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TLGX_DataHandler_WcfService.DataContracts" minOccurs="0" name="obj" nillable="true" type="q4:DC_SupplierImportFileDetails_TestProcess" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StaticFileUpload_TestFile_TransformResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StaticFileUpload_TestFile_TransformResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>