TLGX_CONSUMER_SERVICE/ConsumerServiceClient/Service References/ConsumerService/Consumer4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataContracts.DC_Address" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataContracts.DC_Address" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DC_Address_Physical">
    <xs:sequence>
      <xs:element minOccurs="0" name="CityAreaOrDistrict" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CityOrTownOrVillage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountyOrState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Street" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DC_Address_Physical" nillable="true" type="tns:DC_Address_Physical" />
  <xs:complexType name="DC_Address_GeoCode">
    <xs:sequence>
      <xs:element minOccurs="0" name="Latitude" type="xs:float" />
      <xs:element minOccurs="0" name="Longitude" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DC_Address_GeoCode" nillable="true" type="tns:DC_Address_GeoCode" />
</xs:schema>