TLGX_CONSUMER_SERVICE/ConsumerServiceClient/Service References/ConsumerService/Consumer1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57643/Consumer.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:57643/Consumer.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Net" />
  <xs:import schemaLocation="http://localhost:57643/Consumer.svc?xsd=xsd6" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfDC_Accomodation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DC_Accomodation" nillable="true" type="tns:DC_Accomodation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDC_Accomodation" nillable="true" type="tns:ArrayOfDC_Accomodation" />
  <xs:complexType name="DC_Accomodation">
    <xs:sequence>
      <xs:element minOccurs="0" name="Accommodation_Descriptions" nillable="true" type="tns:ArrayOfDC_Accommodation_Descriptions" />
      <xs:element minOccurs="0" name="Accommodation_Facility" nillable="true" type="tns:ArrayOfDC_Accommodation_Facility" />
      <xs:element minOccurs="0" name="Accommodation_HealthAndSafety" nillable="true" type="tns:ArrayOfDC_Accommodation_HealthAndSafety" />
      <xs:element minOccurs="0" name="Accommodation_HotelUpdates" nillable="true" type="tns:ArrayOfDC_Accommodation_HotelUpdates" />
      <xs:element minOccurs="0" name="Accommodation_Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Accommodation_Media" nillable="true" type="tns:ArrayOfDC_Accommodation_Media" />
      <xs:element minOccurs="0" name="Accommodation_NearbyPlaces" nillable="true" type="tns:ArrayOfDC_Accommodation_NearbyPlaces" />
      <xs:element minOccurs="0" name="Accommodation_PaxOccupancy" nillable="true" type="tns:ArrayOfDC_Accommodation_PaxOccupancy" />
      <xs:element minOccurs="0" name="Accommodation_RoomInfo" nillable="true" type="tns:ArrayOfDC_Accommodation_RoomInfo" />
      <xs:element minOccurs="0" name="Accommodation_RouteInfo" nillable="true" type="tns:ArrayOfDC_Accommodation_RouteInfo" />
      <xs:element minOccurs="0" name="Accommodation_RuleInfo" nillable="true" type="tns:ArrayOfDC_Accommodation_RuleInfo" />
      <xs:element minOccurs="0" name="Accomodation_Contact" nillable="true" type="tns:ArrayOfDC_Accommodation_Contact" />
      <xs:element minOccurs="0" name="Accomodation_Status" nillable="true" type="tns:ArrayOfDC_Accommodation_Status" />
      <xs:element minOccurs="0" name="Affiliation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Area" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AwardsReceived" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Brand" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CarbonFootPrint" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Chain" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CheckInTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CheckOutTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City_ISO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyHotelID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyRating" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyRecommended" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country_ISO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Create_Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Create_User" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Edit_Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Edit_User" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FinanceControlID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Hashtag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HotelName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HotelRating" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InternalRemarks" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsActive" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsMysteryProduct" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="LEGACY_CITY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LEGACY_COUNTRY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LEGACY_STATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Latitude" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Legacy_HTL_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Longitude" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OfflineDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OnlineDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PostalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductCategory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductCategorySubType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RatingDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecommendedFor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remarks" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State_ISO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Street3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Street4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Street5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StreetName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StreetNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SuburbDowntown" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalFloors" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalRooms" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Town" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="YearBuilt" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DC_Accomodation" nillable="true" type="tns:DC_Accomodation" />
  <xs:complexType name="ArrayOfDC_Accommodation_Descriptions">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DC_Accommodation_Descriptions" nillable="true" type="tns:DC_Accommodation_Descriptions" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDC_Accommodation_Descriptions" nillable="true" type="tns:ArrayOfDC_Accommodation_Descriptions" />
  <xs:complexType name="DC_Accommodation_Descriptions">
    <xs:sequence>
      <xs:element minOccurs="0" name="Accommodation_Description_Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Accommodation_Id" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="Create_Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Create_User" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescriptionType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Edit_Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Edit_User" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FromDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IsActive" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="Language_Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Legacy_Htl_Id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ToDate" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DC_Accommodation_Descriptions" nillable="true" type="tns:DC_Accommodation_Descriptions" />
  <xs:complexType name="ArrayOfDC_Accommodation_Facility">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DC_Accommodation_Facility" nillable="true" type="tns:DC_Accommodation_Facility" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDC_Accommodation_Facility" nillable="true" type="tns:ArrayOfDC_Accommodation_Facility" />
  <xs:complexType name="DC_Accommodation_Facility">
    <xs:sequence>
      <xs:element minOccurs="0" name="Accommodation_Facility_Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Accommodation_Id" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="Create_Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Create_User" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Edit_Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Edit_User" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FacilityCategory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FacilityName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FacilityType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Legacy_Htl_Id" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DC_Accommodation_Facility" nillable="true" type="tns:DC_Accommodation_Facility" />
  <xs:complexType name="ArrayOfDC_Accommodation_HealthAndSafety">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DC_Accommodation_HealthAndSafety" nillable="true" type="tns:DC_Accommodation_HealthAndSafety" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDC_Accommodation_HealthAndSafety" nillable="true" type="tns:ArrayOfDC_Accommodation_HealthAndSafety" />
  <xs:complexType name="DC_Accommodation_HealthAndSafety">
    <xs:sequence>
      <xs:element minOccurs="0" name="Accommodation_HealthAndSafety_Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Accommodation_Id" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Create_Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Create_User" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Edit_Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Edit_User" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Legacy_Htl_Id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remarks" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DC_Accommodation_HealthAndSafety" nillable="true" type="tns:DC_Accommodation_HealthAndSafety" />
  <xs:complexType name="ArrayOfDC_Accommodation_HotelUpdates">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DC_Accommodation_HotelUpdates" nillable="true" type="tns:DC_Accommodation_HotelUpdates" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDC_Accommodation_HotelUpdates" nillable="true" type="tns:ArrayOfDC_Accommodation_HotelUpdates" />
  <xs:complexType name="DC_Accommodation_HotelUpdates">
    <xs:sequence>
      <xs:element minOccurs="0" name="Accommodation_HotelUpdates_Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Accommodation_Id" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="Create_Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Create_User" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Edit_Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Edit_User" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FromDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ToDate" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DC_Accommodation_HotelUpdates" nillable="true" type="tns:DC_Accommodation_HotelUpdates" />
  <xs:complexType name="ArrayOfDC_Accommodation_Media">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DC_Accommodation_Media" nillable="true" type="tns:DC_Accommodation_Media" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDC_Accommodation_Media" nillable="true" type="tns:ArrayOfDC_Accommodation_Media" />
  <xs:complexType name="DC_Accommodation_Media">
    <xs:sequence>
      <xs:element minOccurs="0" name="Accommodation_Id" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="Accommodation_Media_Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Create_Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Create_User" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Edit_Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Edit_User" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsActive" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Legacy_Htl_Id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MediaName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MediaType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Media_Path" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Media_Position" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Media_URL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoomCategory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValidFrom" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ValidTo" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DC_Accommodation_Media" nillable="true" type="tns:DC_Accommodation_Media" />
  <xs:complexType name="ArrayOfDC_Accommodation_NearbyPlaces">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DC_Accommodation_NearbyPlaces" nillable="true" type="tns:DC_Accommodation_NearbyPlaces" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDC_Accommodation_NearbyPlaces" nillable="true" type="tns:ArrayOfDC_Accommodation_NearbyPlaces" />
  <xs:complexType name="DC_Accommodation_NearbyPlaces">
    <xs:sequence>
      <xs:element minOccurs="0" name="Accommodation_NearbyPlace_Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Accomodation_Id" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="Create_Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Create_User" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DistanceFromProperty" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DistanceUnit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Edit_Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Edit_User" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Legacy_Htl_Id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PlaceCategory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlaceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlaceType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DC_Accommodation_NearbyPlaces" nillable="true" type="tns:DC_Accommodation_NearbyPlaces" />
  <xs:complexType name="ArrayOfDC_Accommodation_PaxOccupancy">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DC_Accommodation_PaxOccupancy" nillable="true" type="tns:DC_Accommodation_PaxOccupancy" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDC_Accommodation_PaxOccupancy" nillable="true" type="tns:ArrayOfDC_Accommodation_PaxOccupancy" />
  <xs:complexType name="DC_Accommodation_PaxOccupancy">
    <xs:sequence>
      <xs:element minOccurs="0" name="Accommodation_Id" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="Accommodation_PaxOccupancy_Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Accommodation_RoomInfo_Id" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Create_Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Create_User" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Edit_Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Edit_User" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FromAgeForCIOR" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="FromAgeForCNB" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="FromAgeForExtraBed" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Legacy_Htl_Id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MaxAdults" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MaxCNB" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MaxChild" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MaxPax" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MaxPaxWithExtraBed" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="RoomDisplayNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoomType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ToAgeForCIOR" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ToAgeForCNB" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ToAgeForExtraBed" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DC_Accommodation_PaxOccupancy" nillable="true" type="tns:DC_Accommodation_PaxOccupancy" />
  <xs:complexType name="ArrayOfDC_Accommodation_RoomInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DC_Accommodation_RoomInfo" nillable="true" type="tns:DC_Accommodation_RoomInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDC_Accommodation_RoomInfo" nillable="true" type="tns:ArrayOfDC_Accommodation_RoomInfo" />
  <xs:complexType name="DC_Accommodation_RoomInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Accommodation_Id" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="Accommodation_RoomInfo_Id" type="ser:guid" />
      <xs:element minOccurs="0" name="AmenityTypes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BathRoomType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BedType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyRoomCategory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Create_Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Create_User" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Edit_Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Edit_User" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FloorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FloorNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Legacy_Htl_Id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MysteryRoom" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="NoOfInterconnectingRooms" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="NoOfRooms" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="RoomCategory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoomDecor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoomId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoomName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoomSize" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoomView" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Smoking" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DC_Accommodation_RoomInfo" nillable="true" type="tns:DC_Accommodation_RoomInfo" />
  <xs:complexType name="ArrayOfDC_Accommodation_RouteInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DC_Accommodation_RouteInfo" nillable="true" type="tns:DC_Accommodation_RouteInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDC_Accommodation_RouteInfo" nillable="true" type="tns:ArrayOfDC_Accommodation_RouteInfo" />
  <xs:complexType name="DC_Accommodation_RouteInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccommodationCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Accommodation_Id" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="Accommodation_Route_Id" type="ser:guid" />
      <xs:element minOccurs="0" name="ApproximateDuration" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Create_Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Create_User" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DistanceFromProperty" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DistanceUnit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DrivingDirection" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Edit_Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Edit_User" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FromPlace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Legacy_Htl_Id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ModeOfTransport" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NameOfPlace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransportType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValidFrom" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ValidTo" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DC_Accommodation_RouteInfo" nillable="true" type="tns:DC_Accommodation_RouteInfo" />
  <xs:complexType name="ArrayOfDC_Accommodation_RuleInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DC_Accommodation_RuleInfo" nillable="true" type="tns:DC_Accommodation_RuleInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDC_Accommodation_RuleInfo" nillable="true" type="tns:ArrayOfDC_Accommodation_RuleInfo" />
  <xs:complexType name="DC_Accommodation_RuleInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Accommodation_Id" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="Accommodation_RuleInfo_Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Create_Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Create_User" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Edit_Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Edit_User" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Legacy_Htl_Id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="RuleType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DC_Accommodation_RuleInfo" nillable="true" type="tns:DC_Accommodation_RuleInfo" />
  <xs:complexType name="ArrayOfDC_Accommodation_Contact">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DC_Accommodation_Contact" nillable="true" type="tns:DC_Accommodation_Contact" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDC_Accommodation_Contact" nillable="true" type="tns:ArrayOfDC_Accommodation_Contact" />
  <xs:complexType name="DC_Accommodation_Contact">
    <xs:sequence>
      <xs:element minOccurs="0" name="Accommodation_Contact_Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Accommodation_Id" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="Create_Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Create_User" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Edit_Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Edit_User" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fax" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Legacy_Htl_Id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Telephone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WebSiteURL" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DC_Accommodation_Contact" nillable="true" type="tns:DC_Accommodation_Contact" />
  <xs:complexType name="ArrayOfDC_Accommodation_Status">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DC_Accommodation_Status" nillable="true" type="tns:DC_Accommodation_Status" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDC_Accommodation_Status" nillable="true" type="tns:ArrayOfDC_Accommodation_Status" />
  <xs:complexType name="DC_Accommodation_Status">
    <xs:sequence>
      <xs:element minOccurs="0" name="Accommodation_Id" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="Accommodation_Status_Id" type="ser:guid" />
      <xs:element minOccurs="0" name="CompanyMarket" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeactivationReason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="From" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="To" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DC_Accommodation_Status" nillable="true" type="tns:DC_Accommodation_Status" />
  <xs:complexType name="DC_ErrorStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Net" minOccurs="0" name="ErrorStatusCode" type="q1:HttpStatusCode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DC_ErrorStatus" nillable="true" type="tns:DC_ErrorStatus" />
  <xs:complexType name="DC_Accomodation_Search_RQ">
    <xs:sequence>
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyHotelId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HotelName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element name="PageNo" type="xs:int" />
      <xs:element name="PageSize" type="xs:int" />
      <xs:element name="ProductCategory" nillable="true" type="xs:string" />
      <xs:element name="ProductCategorySubType" nillable="true" type="xs:string" />
      <xs:element name="Status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DC_Accomodation_Search_RQ" nillable="true" type="tns:DC_Accomodation_Search_RQ" />
  <xs:complexType name="ArrayOfDC_Accomodation_Search_RS">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DC_Accomodation_Search_RS" nillable="true" type="tns:DC_Accomodation_Search_RS" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDC_Accomodation_Search_RS" nillable="true" type="tns:ArrayOfDC_Accomodation_Search_RS" />
  <xs:complexType name="DC_Accomodation_Search_RS">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccomodationId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyHotelId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HotelBrand" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HotelChain" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HotelName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalRecords" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DC_Accomodation_Search_RS" nillable="true" type="tns:DC_Accomodation_Search_RS" />
  <xs:complexType name="ArrayOfDC_Master_Country">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DC_Master_Country" nillable="true" type="tns:DC_Master_Country" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDC_Master_Country" nillable="true" type="tns:ArrayOfDC_Master_Country" />
  <xs:complexType name="DC_Master_Country">
    <xs:sequence>
      <xs:element minOccurs="0" name="Country_Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country_Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Country_Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DC_Master_Country" nillable="true" type="tns:DC_Master_Country" />
  <xs:complexType name="ArrayOfDC_Master_City">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DC_Master_City" nillable="true" type="tns:DC_Master_City" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDC_Master_City" nillable="true" type="tns:ArrayOfDC_Master_City" />
  <xs:complexType name="DC_Master_City">
    <xs:sequence>
      <xs:element minOccurs="0" name="City_Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City_Id" type="ser:guid" />
      <xs:element minOccurs="0" name="City_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country_Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Country_Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DC_Master_City" nillable="true" type="tns:DC_Master_City" />
  <xs:complexType name="DC_GeoLocation">
    <xs:sequence>
      <xs:element minOccurs="0" name="results" nillable="true" type="tns:ArrayOfResult" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DC_GeoLocation" nillable="true" type="tns:DC_GeoLocation" />
  <xs:complexType name="ArrayOfResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Result" nillable="true" type="tns:Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResult" nillable="true" type="tns:ArrayOfResult" />
  <xs:complexType name="Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="address_components" nillable="true" type="tns:ArrayOfAddress_Components" />
      <xs:element minOccurs="0" name="formatted_address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="geometry" nillable="true" type="tns:Geometry" />
      <xs:element minOccurs="0" name="partial_match" type="xs:boolean" />
      <xs:element minOccurs="0" name="place_id" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="types" nillable="true" type="q2:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Result" nillable="true" type="tns:Result" />
  <xs:complexType name="ArrayOfAddress_Components">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Address_Components" nillable="true" type="tns:Address_Components" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAddress_Components" nillable="true" type="tns:ArrayOfAddress_Components" />
  <xs:complexType name="Address_Components">
    <xs:sequence>
      <xs:element minOccurs="0" name="long_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="short_name" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="types" nillable="true" type="q3:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Address_Components" nillable="true" type="tns:Address_Components" />
  <xs:complexType name="Geometry">
    <xs:sequence>
      <xs:element minOccurs="0" name="bounds" nillable="true" type="tns:Bounds" />
      <xs:element minOccurs="0" name="location" nillable="true" type="tns:Location" />
      <xs:element minOccurs="0" name="location_type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="viewport" nillable="true" type="tns:Viewport" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Geometry" nillable="true" type="tns:Geometry" />
  <xs:complexType name="Bounds">
    <xs:sequence>
      <xs:element minOccurs="0" name="northeast" nillable="true" type="tns:Northeast" />
      <xs:element minOccurs="0" name="southwest" nillable="true" type="tns:Southwest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Bounds" nillable="true" type="tns:Bounds" />
  <xs:complexType name="Northeast">
    <xs:sequence>
      <xs:element minOccurs="0" name="lat" type="xs:float" />
      <xs:element minOccurs="0" name="lng" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Northeast" nillable="true" type="tns:Northeast" />
  <xs:complexType name="Southwest">
    <xs:sequence>
      <xs:element minOccurs="0" name="lat" type="xs:float" />
      <xs:element minOccurs="0" name="lng" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Southwest" nillable="true" type="tns:Southwest" />
  <xs:complexType name="Location">
    <xs:sequence>
      <xs:element minOccurs="0" name="lat" type="xs:float" />
      <xs:element minOccurs="0" name="lng" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Location" nillable="true" type="tns:Location" />
  <xs:complexType name="Viewport">
    <xs:sequence>
      <xs:element minOccurs="0" name="northeast" nillable="true" type="tns:Northeast" />
      <xs:element minOccurs="0" name="southwest" nillable="true" type="tns:Southwest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Viewport" nillable="true" type="tns:Viewport" />
</xs:schema>