TLGX_CONSUMER_SERVICE/ConsumerServiceClient/Service References/ConsumerService/Consumer514.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataContracts.ML" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataContracts.ML" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDL_ML_DL_EntityStatus">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DL_ML_DL_EntityStatus" nillable="true" type="tns:DL_ML_DL_EntityStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDL_ML_DL_EntityStatus" nillable="true" type="tns:ArrayOfDL_ML_DL_EntityStatus" />
  <xs:complexType name="DL_ML_DL_EntityStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="EntityType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastUpdate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Per" type="xs:decimal" />
      <xs:element minOccurs="0" name="PushedCount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalCount" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DL_ML_DL_EntityStatus" nillable="true" type="tns:DL_ML_DL_EntityStatus" />
</xs:schema>