TLGX_CONSUMER_SERVICE/ConsumerServiceClient/Service References/ConsumerService/Consumer.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57643/Consumer.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataContracts" />
  <xs:import schemaLocation="http://localhost:57643/Consumer.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/DataContracts.Masters" />
  <xs:import schemaLocation="http://localhost:57643/Consumer.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/DataContracts.DC_Address" />
  <xs:element name="GetAccomodationList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PageNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PageSize" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccomodationListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DataContracts" minOccurs="0" name="GetAccomodationListResult" nillable="true" type="q1:ArrayOfDC_Accomodation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccomodationSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DataContracts" minOccurs="0" name="Accomodation_Request" nillable="true" type="q2:DC_Accomodation_Search_RQ" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccomodationSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DataContracts" minOccurs="0" name="AccomodationSearchResult" nillable="true" type="q3:ArrayOfDC_Accomodation_Search_RS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccomodationDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Accomodation_Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccomodationDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DataContracts" minOccurs="0" name="GetAccomodationDetailsResult" nillable="true" type="q4:DC_Accomodation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccomodationInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Accomodation_Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccomodationInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DataContracts" minOccurs="0" name="GetAccomodationInfoResult" nillable="true" type="q5:ArrayOfDC_Accomodation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAccomodationInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DataContracts" minOccurs="0" name="AccomodationInfo" nillable="true" type="q6:DC_Accomodation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAccomodationInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateAccomodationInfoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAccomodationInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/DataContracts" minOccurs="0" name="AccomodationInfo" nillable="true" type="q7:DC_Accomodation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAccomodationInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddAccomodationInfoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccomodationContacts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Accomodation_Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccomodationContactsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/DataContracts" minOccurs="0" name="GetAccomodationContactsResult" nillable="true" type="q8:ArrayOfDC_Accommodation_Contact" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAccomodationContacts">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/DataContracts" minOccurs="0" name="AC" nillable="true" type="q9:DC_Accommodation_Contact" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAccomodationContactsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateAccomodationContactsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAccomodationContacts">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/DataContracts" minOccurs="0" name="AC" nillable="true" type="q10:DC_Accommodation_Contact" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAccomodationContactsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddAccomodationContactsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccomodationDescriptions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Accomodation_Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccomodationDescriptionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/DataContracts" minOccurs="0" name="GetAccomodationDescriptionsResult" nillable="true" type="q11:ArrayOfDC_Accommodation_Descriptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAccomodationDescriptions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/DataContracts" minOccurs="0" name="AD" nillable="true" type="q12:DC_Accommodation_Descriptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAccomodationDescriptionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateAccomodationDescriptionsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAccomodationDescriptions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/DataContracts" minOccurs="0" name="AD" nillable="true" type="q13:DC_Accommodation_Descriptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAccomodationDescriptionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddAccomodationDescriptionsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccomodationFacilities">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Accomodation_Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccomodationFacilitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/DataContracts" minOccurs="0" name="GetAccomodationFacilitiesResult" nillable="true" type="q14:ArrayOfDC_Accommodation_Facility" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAccomodationFacilities">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/DataContracts" minOccurs="0" name="AF" nillable="true" type="q15:DC_Accommodation_Facility" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAccomodationFacilitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateAccomodationFacilitiesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAccomodationFacilities">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/DataContracts" minOccurs="0" name="AF" nillable="true" type="q16:DC_Accommodation_Facility" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAccomodationFacilitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddAccomodationFacilitiesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccomodationHealthAndSafety">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Accomodation_Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccomodationHealthAndSafetyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/DataContracts" minOccurs="0" name="GetAccomodationHealthAndSafetyResult" nillable="true" type="q17:ArrayOfDC_Accommodation_HealthAndSafety" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccomodationHotelUpdates">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Accomodation_Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccomodationHotelUpdatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/DataContracts" minOccurs="0" name="GetAccomodationHotelUpdatesResult" nillable="true" type="q18:ArrayOfDC_Accommodation_HotelUpdates" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccomodationMedia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Accomodation_Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccomodationMediaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/DataContracts" minOccurs="0" name="GetAccomodationMediaResult" nillable="true" type="q19:ArrayOfDC_Accommodation_Media" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccomodationNearbyPlaces">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Accomodation_Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccomodationNearbyPlacesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/DataContracts" minOccurs="0" name="GetAccomodationNearbyPlacesResult" nillable="true" type="q20:ArrayOfDC_Accommodation_NearbyPlaces" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccomodationPaxOccupancy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Accomodation_Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccomodationPaxOccupancyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/DataContracts" minOccurs="0" name="GetAccomodationPaxOccupancyResult" nillable="true" type="q21:ArrayOfDC_Accommodation_PaxOccupancy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccomodationRoomInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Accomodation_Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccomodationRoomInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/DataContracts" minOccurs="0" name="GetAccomodationRoomInfoResult" nillable="true" type="q22:ArrayOfDC_Accommodation_RoomInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccomodationRouteInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Accomodation_Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccomodationRouteInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/DataContracts" minOccurs="0" name="GetAccomodationRouteInfoResult" nillable="true" type="q23:ArrayOfDC_Accommodation_RouteInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccomodationRuleInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Accomodation_Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccomodationRuleInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/DataContracts" minOccurs="0" name="GetAccomodationRuleInfoResult" nillable="true" type="q24:ArrayOfDC_Accommodation_RuleInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccomodationStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Accomodation_Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccomodationStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/DataContracts" minOccurs="0" name="GetAccomodationStatusResult" nillable="true" type="q25:ArrayOfDC_Accommodation_Status" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAccomodationStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/DataContracts" minOccurs="0" name="AS" nillable="true" type="q26:DC_Accommodation_Status" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAccomodationStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateAccomodationStatusResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAccomodationStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/DataContracts" minOccurs="0" name="AS" nillable="true" type="q27:DC_Accommodation_Status" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAccomodationStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddAccomodationStatusResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCountries">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCountriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/DataContracts" minOccurs="0" name="GetAllCountriesResult" nillable="true" type="q28:ArrayOfDC_Master_Country" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCities">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/DataContracts" minOccurs="0" name="GetAllCitiesResult" nillable="true" type="q29:ArrayOfDC_Master_City" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCitiesByCountry">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Country_Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCitiesByCountryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/DataContracts" minOccurs="0" name="GetCitiesByCountryResult" nillable="true" type="q30:ArrayOfDC_Master_City" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDynamicAttributes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/DataContracts.Masters" minOccurs="0" name="RQ" nillable="true" type="q31:DC_DynamicAttributes_RQ" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDynamicAttributesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/DataContracts.Masters" minOccurs="0" name="GetDynamicAttributesResult" nillable="true" type="q32:ArrayOfDC_DynamicAttributes_RS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDynamicAttributes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/DataContracts.Masters" minOccurs="0" name="RQ" nillable="true" type="q33:DC_DynamicAttributes_RS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDynamicAttributesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateDynamicAttributesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDynamicAttributes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/DataContracts.Masters" minOccurs="0" name="RQ" nillable="true" type="q34:DC_DynamicAttributes_RS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDynamicAttributesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddDynamicAttributesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGeoLocationByAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/DataContracts.DC_Address" minOccurs="0" name="PA" nillable="true" type="q35:DC_Address_Physical" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGeoLocationByAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/DataContracts" minOccurs="0" name="GetGeoLocationByAddressResult" nillable="true" type="q36:DC_GeoLocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGeoLocationByLatLng">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/DataContracts.DC_Address" minOccurs="0" name="AG" nillable="true" type="q37:DC_Address_GeoCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGeoLocationByLatLngResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/DataContracts" minOccurs="0" name="GetGeoLocationByLatLngResult" nillable="true" type="q38:DC_GeoLocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>